{% extends "base.html" %}
{% block content %}
<p>
    <button>Settle Up</button>
    <button hx-post="/api/supporters/distribute-budget">Distribute</button>
    <button>Import from OPML</button>
</p>
<p>
<table>
    <tr>
        <th>Budget / Month</th>
        <th>Pending</th>
        <th>Paid to Date</th>
    </tr>
    <tr>
    <td style="font-variant-numeric: tabular-nums;">
        <form hx-put="/api/supporters/budget-per-month" hx-trigger="change" hx-swap="none">
        $<input name="value" type="number" value="{{ supporter.budget_per_month // 100 }}" min="0" step="1" autocomplete="off"/>
        </form>
    </td>
    <td style="font-variant-numeric: tabular-nums;">
        ${{ next_budget // 100 }}.{{ str(next_budget % 100).zfill(2) }}
    </td>
    <td style="font-variant-numeric: tabular-nums;">
        ${{ paid_to_date // 100 }}
    </td>
    </tr>
</table>
</p>
<p>
<table>
    <tr>
        <th>Pay?</th>
        <th>Creator</th>
        <th>Pending</th>
        <th>Balance</th>
    </tr>
    {% for supporter_to_creator in supporter_to_creators %}
    <tr>
        <td>
            <center>
                <input
                        type="checkbox"
                        value="true"
                        name="value"
                        autocomplete="off"
                        hx-put="/api/creators/{{ supporter_to_creator.creator.slug }}/want-to-pay"
                        hx-trigger="change"
                        {% if supporter_to_creator.want_to_pay %}
                        checked
                        {% endif %}/>
            </center>
        </td>
        <td><a href="{{ url_for('creator', creator_slug=supporter_to_creator.creator.slug) }}">{{ supporter_to_creator.creator.display_name }}</a>
        </td>
        <td style="font-variant-numeric: tabular-nums;">${{ next_payments.get(supporter_to_creator.creator_id, 0) // 100 }}</td>
        <td style="font-variant-numeric: tabular-nums;">${{ supporter_to_creator.payment_amount_outstanding // 100 }}.{{ str(supporter_to_creator.payment_amount_outstanding % 100).zfill(2) }}</td>
    </tr>
    {% endfor %}
</table>
</p>
{% endblock %}
