{% extends "base.html" %}
{% block content %}
<p>
<table>
    <tr>
        <th><span title="Tip the Tiny Web">💰↘️🌐</span></th>
        <th colspan="2">Budget / Month</th>
        <th>Next Balance</th>
        <th>Next Payment</th>
    </tr>
    <tr>
        <td></td>
    <td style="font-variant-numeric: tabular-nums;" colspan="2">
        <form hx-put="/api/supporters/budget-per-month" hx-trigger="change" hx-swap="none" style="display: inline;">
        $<input name="value" type="number" value="{{ supporter.budget_per_month // 100 }}" min="0" step="1" autocomplete="off"/>
        </form> ➡️
    </td>
    <td style="font-variant-numeric: tabular-nums;">
        ${{ next_budget // 100 }}.{{ str(next_budget % 100).zfill(2) }}
    </td>
    <td style="font-variant-numeric: tabular-nums;">
        ${{ paid_to_date // 100 }}
    </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"></td>
        <td><center><button hx-post="/api/supporters/distribute-budget" hx-swap="none" {% if len(supporter_to_creators) > next_budget %}disabled{% endif %}>Distribute ⬇️</button></center></td>
        <td><center><button>Settle Up 💸</button></center></td>
    </tr>
    <tr>
        <th>Pay?</th>
        <th colspan="2">Creator</th>
        <th>Balance</th>
        <th>Ready to Pay</th>
    </tr>
    {% if supporter_to_creators | length > 2 %}
    <tr>
        <td></td>
        <td colspan="2">Everyone</td>
        <td>${{ total_payment_amount_outstanding // 100 }}.{{ str(total_payment_amount_outstanding % 100).zfill(2) }}</td>
        <td>$0</td>
    </tr>
    {% endif %}
    {% for supporter_to_creator in supporter_to_creators %}
    <tr>
        <td>
                <input
                        type="checkbox"
                        value="true"
                        name="value"
                        autocomplete="off"
                        hx-put="/api/creators/{{ supporter_to_creator.creator.slug }}/want-to-pay"
                        hx-trigger="change"
                        {% if supporter_to_creator.want_to_pay %}
                        checked
                        {% endif %}/>
        </td>
        <td colspan="2"><a href="{{ url_for('creator', creator_slug=supporter_to_creator.creator.slug) }}">{{ supporter_to_creator.creator.display_name }}</a>
        </td>
        <td style="font-variant-numeric: tabular-nums;">${{ supporter_to_creator.payment_amount_outstanding // 100 }}.{{ str(supporter_to_creator.payment_amount_outstanding % 100).zfill(2) }}</td>
        {% if (supporter_to_creator.creator.payment_methods | length > 0) or supporter_to_creator.payment_amount_outstanding < 100 %}
        <td style="font-variant-numeric: tabular-nums;">${{ next_payments.get(supporter_to_creator.creator_id, 0) // 100 }}</td>
        {% else %}
        <td>$0 ⚠️</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</p>
{% endblock %}
